AWS_REGION=us-east-1
NODE_TLS_REJECT_UNAUTHORIZED=0
AWS_PROFILE=your-aws-profile

FOLKORE_KB_ID=your-kb-id
FOLKORE_KB_DATA_SOURCE_ID=your-kb-data-source-id  # aws bedrock-agent list-data-sources --knowledge-base-id <kb-id>
FOLKORE_KB_BUCKET=your-kb-bucket-name

MANTLE_API_KEY=your-mantle-api-key
MANTLE_BASE_URL=https://bedrock-mantle.us-east-1.api.aws/v1
MANTLE_MODEL=deepseek.v3.2
